<footer>
    <p class="copyright">Copyright &copy; <%= new Date().getFullYear();%> Innovantage Solutions Private Limited. All rights reserved.</p>

    <p class="dev-name">Website is designed and developed by <a href="https://raman5911.github.io" target="_blank">Ramanpreet Singh</a> .</p>
</footer>