<%- include('./partials/header'); -%>

<title>Login</title>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        overflow-x: hidden;
    }

    h1 {
        margin: 1rem auto;
        font-family: 'Antic Didone', serif !important;
    }

    .main {
        transform: translate(30%, 35%);
    }

    /* .form {
        width: 70rem;
        margin: 0 auto;
        padding: 3% 7%;
    } */

    .heading {
        text-align: center;
    }

    /* .form form {
        text-align: left;
    } */

    .form-group {
        margin: 0.7rem auto;
    }

    label {
        display: block;
    }

    form input {
        width: 30%;
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    #toggle-eye {
        cursor: pointer;
        margin-left: 1rem;
    }

    .alert {
        width: 30%;
        padding-bottom: 0.2rem !important;
    }

    .hide {
        display: none;
    }

    button {
        cursor: pointer;
        border: 2px solid #6CFE52;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 0.7rem 1.5rem;
        background-color: #6CFE52;
        color: #fff;
        transition: all 0.3s;
    }

    button i {
        margin-top: 0.3rem;
        margin-left: 0.2rem;
        transition: all 0.3s;
    }

    button:hover {
        box-shadow: 5px 10px 10px 5px #6cfe525e;
        color: #fff;
        background-color: #6cfe52;
        transform: scale(1.07);
    }

    button:hover i {
        margin-left: 0.5rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #121212e3;
        color: #fff;
        margin-top: 1rem;
        position: absolute;
        bottom: 0px;
        width: 100vw;
    }

    footer p {
        margin: 1.5rem;
    }

    footer .dev-name a {
        color: #FE526C;
        text-decoration: underline;
    }

    @media (max-width: 1200px) {
        form input {
            width: auto;
        }
    }

    @media (max-width: 769px) {

        .main {
            transform: translate(15%, 30%);
            overflow-x: hidden;
        }

        body {
            overflow: hidden;
        }

        .heading {
            text-align: left;
        }

        .heading p {
            width: 30% !important;
        }

        form input {
            width: auto;
        }

        .alert {
            width: 70%;
        }

        footer {
            display: block;
            text-align: center;
            padding: 1rem;
            position: relative;
            bottom: -200px;
        }

        footer p {
            margin: 0.3rem;
        }
    }
</style>

<!-- Google Fonts CDN -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Merriweather:wght@300&family=Open+Sans&display=swap"
    rel="stylesheet">

<!-- Fontawesome Icons CDN -->
<script src="https://kit.fontawesome.com/5986627d7c.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="main">
        <div class="container">
            <h1>Login as Admin</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <i class="far fa-eye" id="toggle-eye"></i>
                </div>

                <% if(loginError) { %>
                <div class="alert alert-danger" role="alert">
                    <p>Invalid Email Address or Password!</p>
                </div>
                <% } %>
                <button type="submit">Login <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
</body>

<%- include('./partials/footer'); -%>

<script>
    // Hide and Show Password field
    var toggleBtn = document.querySelector("#toggle-eye");
    var password = document.querySelector("#password");

    toggleBtn.addEventListener('click', function (e) {
        var type;
        if (password.getAttribute('type') === 'password') {
            type = 'text';
        } else {
            type = 'password';
        }

        password.setAttribute("type", type);
        toggleBtn.classList.toggle("fa-eye-slash");
    });
</script>

</html>