<%- include('./partials/header'); -%>

    <title>Submission Successful !</title>

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 89vh;
            padding: 1rem;
            font-size: 17px;
        }

        .main .img-box,
        .main h1,
        .link-box {
            text-align: center;
        }

        .main p {
            margin: 0.5rem;
        }

        .btn {
            width: 15%;
            padding: 0.5rem 0.3rem;
            border: 1px solid #007bff;
            border-radius: 10px;
            background-color: #007bff;
            color: #fff;
            margin-top: 0.5rem;
        }

        .btn:hover {
            color: #fff;
        }

        footer {
            display: flex;
            justify-content: space-between;
            background-color: #121212e3;
            color: #fff;
            margin-top: 1rem;
        }

        footer p {
            margin: 1.5rem;
        }

        footer .dev-name a {
            color: #FE526C;
            text-decoration: underline;
        }

        @media (max-width: 769px) {
            .main {
                height: auto;
            }

            .img-box {
                text-align: left;
            }

            img {
                transform: scale(0.65);
            }

            .btn {
                width: auto;
            }

            footer {
                display: block;
                text-align: center;
                padding: 1rem;
            }

            footer p {
                margin: 0.3rem;
            }
        }
    </style>

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Merriweather:wght@300&family=Open+Sans&display=swap"
        rel="stylesheet">

    <!-- intel-tel-input Plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

    <!-- Fontawesome Icons CDN -->
    <script src="https://kit.fontawesome.com/5986627d7c.js" crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link rel="icon" href="favicons/cropped-Innovantage-transparent-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="favicons/cropped-Innovantage-transparent-180x180.png" />

    </head>

    <body>
        <div class="main container">
            <div class="img-box">
                <img src="../public/images/submission_received.png" alt="Submission Received" height="300px" width="400px">
            </div>
            <h1>Your Submission was received. 😀</h1>
            <p>Thank you! Your submission was successful, and your form has been received. A confirmation email will be
                sent
                to
                your email address shortly.</p>
            <p>We will reach out to you within 2-3 business days. In the meantime, if you have any query, ask us at <a
                    href="mailto:contact@innovantage.in">contact@innovantage.in</a> and for the reference, also mention
                the
                order id from the confirmation email sent to you.</p>
            <div class="link-box">
                <a href="/" class="btn">Back to Home Page</a>
            </div>
        </div>
    </body>

    <%- include('./partials/footer'); -%>

</html>