<%- include('./partials/header'); -%>

<title>Transportation Management Form</title>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }

    h1 {
        margin: 1rem auto;
        font-family: 'Antic Didone', serif !important;
    }

    h4 {
        font-family: 'Merriweather', serif !important;
        color: #536DFE;
    }

    .form {
        width: 70rem;
        margin: 0 auto;
        padding: 3% 7%;
    }

    .heading {
        text-align: center;
    }

    .form form {
        text-align: left;
    }

    .row {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .form-group {
        margin: 0.7rem auto;
    }

    label {
        display: block;
    }

    select {
        padding: 0.5rem;
        border-radius: 5px;
    }

    select option {
        font-size: 17px;
    }

    form input {
        width: 75%;
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    form .user-group,
    form .shipment-group {
        display: flex;
    }

    form .user-group .form-group {
        margin-left: 0%;
        margin-right: 0%;
    }

    form .shipment-group .form-group {
        margin-left: 3%;
        margin-right: 3%;
    }

    form .user-group {
        position: relative;
        left: 0.1rem;
    }

    form .shipment-group {
        position: relative;
        left: -2.8rem;
    }

    form #user-phone-code,
    #user-phone {
        width: 90%;
    }

    form #pickup-phone-code,
    #pickup-phone {
        width: 110%;
    }

    button {
        cursor: pointer;
        border: 2px solid #6CFE52;
        border-radius: 10px;
        padding: 0.7rem 1.5rem;
        background-color: #6CFE52;
        color: #fff;
        transition: all 0.3s;
    }

    button i {
        margin-top: 0.3rem;
        margin-left: 0.2rem;
        transition: all 0.3s;
    }

    button:hover {
        box-shadow: 5px 10px 10px 5px #6cfe525e;
        color: #fff;
        background-color: #6cfe52;
        transform: scale(1.07);
    }

    button:hover i {
        margin-left: 0.5rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #121212e3;
        color: #fff;
        margin-top: 1rem;
    }

    footer p {
        margin: 1.5rem;
    }

    footer .dev-name a {
        color: #FE526C;
        text-decoration: underline;
    }

    @media (max-width: 1200px) {
        form input {
            width: auto;
        }

        form select {
            width: auto;
        }
    }

    @media (max-width: 769px) {

        body {
            overflow-x: hidden;
        }

        .heading {
            text-align: left;
        }

        .heading p {
            width: 30% !important;
        }

        form input {
            width: auto;
        }

        form select {
            width: auto;
        }

        form .user-group,
        form .shipment-group {
            display: block;
            position: static;
        }

        form .user-group .form-group {
            margin-left: auto;
            margin-right: auto;
        }

        form .shipment-group .form-group {
            margin-left: auto;
            margin-right: auto;
        }

        #user-phone-code,
        #user-phone,
        #pickup-phone-code,
        #pickup-phone {
            width: auto !important;
        }

        footer {
            display: block;
            text-align: center;
            padding: 1rem;
        }

        footer p {
            margin: 0.3rem;
        }
    }
</style>

<!-- Google Fonts CDN -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Merriweather:wght@300&family=Open+Sans&display=swap"
    rel="stylesheet">

<!-- Fontawesome Icons CDN -->
<script src="https://kit.fontawesome.com/5986627d7c.js" crossorigin="anonymous"></script>

<!-- Favicons -->
<link rel="icon" href="favicons/cropped-Innovantage-transparent-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="favicons/cropped-Innovantage-transparent-180x180.png" />

</head>

<body>

    <div class="form">
        <div class="heading">
            <h1>Fill up the Form</h1>
            <p>Fill up the form below to get a qoute for our Transportation Management services.</p>
        </div>

        <form action="/transportation_management_contact_form" method="POST">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h4>Enquiry requested from</h4>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" name="userName" id="user-name" placeholder="Enter your Full Name" required>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="userAddress">Address</label>
                        <input type="text" name="userAddress" id="user-address" placeholder="Enter your address"
                            required>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="user-group">

                        <div class="form-group">
                            <label for="userPhoneCode">Country Code</label>
                            <input type="text" name="userPhoneCode" id="user-phone-code" placeholder="+ (Country Code)"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="userPhone">Contact Number</label>
                            <input type="tel" name="userPhone" id="user-phone" placeholder="Contact Number" required>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="userEmail">Email Address</label>
                        <input type="email" name="userEmail" id="user-email" placeholder="Enter your Email Address"
                            required>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <h4>Shipment Details</h4>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="pickupAddress">Shipment Pickup Address</label>
                        <input type="text" name="pickupAddress" id="pickup-address"
                            placeholder="Enter Shipment Pickup Address">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="destAddress">Shipment Destination Address</label>
                        <input type="text" name="destAddress" id="dest-address"
                            placeholder="Enter Shipment Destination Address">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="vehicleType">Vehicle Type</label>
                        <select name="vehicleType" id="vehicle-type">
                            <option value="" selected disabled hidden>Select Vehicle Type</option>
                            <option value="open">Open</option>
                            <option value="container-type">Container Type</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="vehicleSize">Vehicle Size</label>
                        <select name="vehicleSize" id="vehicle-size">
                            <option value="" selected disabled hidden>Select Vehicle Size</option>
                            <option value="14">14'</option>
                            <option value="14">17'</option>
                            <option value="14">19'</option>
                            <option value="14">20'</option>
                            <option value="pick up tempo">Pick Up Tempo</option>
                            <option value="32 feet (SXL)">32 Feet (SXL)</option>
                            <option value="32 feet (SXL)">32 Feet (MXL)</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <h4>Commodity Details</h4>
                </div>

                <!-- <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="commodityName">Commodity Name</label>
                        <input type="text" name="commodityName" id="commodity-name" placeholder="Enter Commodity Name">
                    </div>
                </div>
             -->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="packingType">Unit Packing Type</label>
                        <select name="packingType" id="packing-type">
                            <option value="" selected disabled hidden>Select Unit Packing Type</option>
                            <option value="Cartons">Cartons</option>
                            <option value="Bags">Bags</option>
                            <option value="Wooden Boxes">Wooden Boxes</option>
                            <option value="Bundles">Bundles</option>
                            <option value="Rolls">Rolls</option>
                            <option value="Drums">Drums</option>
                            <option value="Cylinders">Cylinders</option>
                            <option value="Nos">Nos</option>
                            <option value="other specification">Any other specification</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="otherSpecs">If any other specifications please specify.</label>
                        <input type="text" name="otherSpecs" id="other-specs">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="packagePerUnit">No. of Packages per Unit</label>
                        <input type="text" name="packagePerUnit" id="package-per-unit"
                            placeholder="Enter No. of Packages">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="packageWt">Each Package Weight (in Kg)</label>
                        <input type="text" name="packageWt" id="package-wt" placeholder="Enter Package Weight">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="shipmentWt">Shipment Weight (in Kg)</label>
                        <input type="text" name="shipmentWt" id="package-wt" placeholder="Enter Shipment Weight">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h4>Package Dimensions</h4>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <select name="measurementUnit" id="measurement-unit">
                            <option value="" selected disabled hidden>Select Unit of Measurement</option>
                            <option value="mm">mm</option>
                            <option value="cms">cms</option>
                            <option value="Inches">Inches</option>
                            <option value="Feet">Feet</option>
                            <option value="Metre">Metre</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label for="length">Length</label>
                        <input type="text" name="length" id="length" placeholder="Enter Length in selected unit">
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label for="width">Width</label>
                        <input type="text" name="width" id="width" placeholder="Enter Width in selected unit">
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                        <label for="height">Height</label>
                        <input type="text" name="height" id="height" placeholder="Enter Height in selected unit">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="fileUpload">Attach File</label>
                        <input type="file" name="fileUpload" id="file-upload">
                    </div>
                </div>

            </div>

            <button type="submit">Submit <i class="fas fa-arrow-right"></i></button>

        </form>
    </div>

</body>

<%- include('./partials/footer'); -%>

</html>